<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>env test</title>
	</head>
	<body>
		<h1>Git metadata</h1>
		<ul>
			<li>REPOSITORY_URL: {import.meta.env.REPOSITORY_URL}</li>
			<li>BRANCH: {import.meta.env.BRANCH}</li>
			<li>HEAD: {import.meta.env.HEAD}</li>
			<li>COMMIT_REF: {import.meta.env.COMMIT_REF}</li>
			<li>CACHED_COMMIT_REF: {import.meta.env.CACHED_COMMIT_REF}</li>
			<li>PULL_REQUEST: {import.meta.env.PULL_REQUEST}</li>
			<li>REVIEW_ID: {import.meta.env.REVIEW_ID}</li>
		</ul>
	</body>
</html>
